<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    small {
      margin-left: 30px;
    }
    div {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    textarea {
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <h1><a href="/">首页</a><small>发表留言</small></h1>
  <!--
    以前表单是如何提交的？
    表单中需要提交的表单控件元素必须具有name属性
    表单提交分为：
      1.默认提交行为
      2.表单异步提交
  -->
  <!-- action就是表单提交的地址，即是请求的url地址 -->
  <form action="/pinglun" method="get">
    <div>
      <label for="inputName">你的大名</label>
      <input type="text" id="inputName" placeholder="请输入你的名字" required minlength="2" maxlength="10" name="name">
    </div>
    <div>
      <label for="feadbackContent">留言内容</label>
      <br>
      <br>
      <textarea name="message" id="feadbackContent" cols="30" rows="10" required minlength="5" ></textarea>
    </div>
    <input type="submit" value="发表" >
  </form>
</body>
</html>